.skills{
    max-width: 623px;
    margin-bottom: 134px;
}

.main__soft{
    display: flex;
    gap: 63px
}

.main__software{
    text-decoration: underline;
    width: 124px;
}
.main__soft__description{
    max-width: 436px;
    margin-bottom: 24px;
}

.programs{
    margin-bottom: 72px;
}

.main__second{
    display: flex;
    gap: 63px;
}


@media (max-width: 768px) {
    .skills{
        margin-bottom: 25px;
    }


    .main__software {
        font-size: 16px;
    }
    .main__soft__description {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .programs {
        font-size: 16px;
    }
    .main__soft {
        margin-top: 25px;
    }

}
@media (max-width: 481px) {
    .main__software {
        font-size: 14px;
    }
    .main__soft__description {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .programs {
        font-size: 14px;
    }
    .main__soft {
        margin-top: 25px;
    }
    .programs {
        margin-bottom: 40px;
    }
}

