.footer__inner {
    margin: 50px 0 120px;
    display: flex;
}

.footer__list{
    display: flex;
    gap: 32px;
}

.footer__nav{
    margin-left: auto;
    font-size: 21px;
}
.footer__link {
    font-size: 20px;
}
.footer__akif {
    font-size: 21px;
    color: #2429AF;
}
.footer__list__mobile {
    display: none;

}
@media (max-width: 768px) {
    .footer__list__mobile {
        display: flex;
    
    }

    .footer__list{
        display: none;
    }

    .footer__inner{
        margin: 50px 0 10px;
    }

}