.header__inner {
    margin: 50px 0 120px;
    display: flex;
    position: relative;
    z-index: 30;
}

.header__list {
    display: flex;
    gap: 32px;
}

.header__nav {
    margin-left: auto;
    font-size: 21px;
}

.header__menu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 120px 15px 35px;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .6s;
    background-color: aliceblue;
}

.header__menu.active {
    transform: translateX(0);
}

.menu-btn {
    display: none;
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header__mobile {
    display: none;
    position: fixed;
    top: 0;
    padding: 120px 15px 40px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s;
    background-color: aliceblue;
}

.header__mobile.active {
    transform: translateX(0);
}


@media (max-width: 992px) {
    .header__inner {
        margin: 30px 0 90px
    }

    .header__nav {
        font-size: 19px;
    }
}

@media (max-width: 550px) {
    .menu-btn {
        display: flex;
        
    }

    .header__mobile {
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__list {
        flex-direction: column;
        gap: 32x;
    }

    .header__inner {
        margin-bottom: 50px;
        justify-content: space-between;
    }
}